.examples {
    border: none;
    .card-body {
        position: relative;
        padding: 0;
        height: 50px;
        p {
            position: absolute;
            bottom: 0;
          }
     }
     img {
        height: 200px;
    }
}

    
  
